body {
  background-color: #f8f9fa;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23b6b6b6' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
  margin-top: 20px;
}

.banner-wrapper {
  width: 400px;
  margin: 0 auto;
}

.board-container {
  margin: 40px auto 0 auto;
  position: relative;
}

.board {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.row {
  display: flex;
}

.square {
  border: 1px solid #212529;
  font-size: 98px;
  height: 140px;
  width: 140px;
}

.turn-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 110px;
}

.turn-wrapper .label {
  font-size: 24px;
  margin-right: 10px;
}

.turn-wrapper .current-turn {
  font-size: 60px;
}

.current-turn.O,
.square.O {
  color: #007bff;
}

.current-turn.X,
.square.X {
  color: #28a745;
}

#box0 {
  border-left: 0;
  border-top: 0;
}

#box1 {
  border-top: 0;
}

#box2 {
  border-right: 0;
  border-top: 0;
}

#box3 {
  border-left: 0;
}

#box5 {
  border-right: 0;
}

#box6 {
  border-left: 0;
  border-bottom: 0;
}

#box7 {
  border-bottom: 0;
}

#box8 {
  border-bottom: 0;
  border-right: 0;
}
